
.input__todo{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    width: 200px;
    outline: none;
}
.btn{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
.blue{
    background-color: rgb(45, 122, 238);
    margin-left: 5px;
}